<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192873743997-q8i8oso9fcd50cu0v6ar8isn4cnrhgtl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192873743997-q8i8oso9fcd50cu0v6ar8isn4cnrhgtl</string>
	<key>API_KEY</key>
	<string>AIzaSyCWzfgzvE8pHa9SHrTrhIQm6qzY7LwJTK4</string>
	<key>GCM_SENDER_ID</key>
	<string>192873743997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompamy.MonitoreandoElTiempo</string>
	<key>PROJECT_ID</key>
	<string>weather-f9edb</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-f9edb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192873743997:ios:362a1fdb469b2b43a8d314</string>
</dict>
</plist>